<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <ui-form-field class="w-full" [label]="t('adjustmentType')">
    <p-select
      required
      appendTo="body"
      name="type"
      optionLabel="name"
      optionValue="id"
      [placeholder]="t('selectType')"
      [options]="monthlySalaryAdjustmentTypeOptions()"
      [(ngModel)]="monthlySalaryAdjustment().monthly_salary_adjustment_id"
    >
      <ng-template #footer>
        <div class="p-3">
          <p-button
            text
            fluid
            [label]="t('addNew')"
            severity="secondary"
            size="small"
            icon="pi pi-plus"
            (onClick)="onAddNewMonthlySalaryAdjustmentType()"
          />
        </div> </ng-template
    ></p-select>
  </ui-form-field>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('amount')">
      <input
        required
        pInputText
        type="number"
        name="amount"
        class="w-full"
        [(ngModel)]="monthlySalaryAdjustment()!.amount"
      />
    </ui-form-field>

    <ui-form-field class="w-full" [label]="t('currency')">
      <p-select
        required
        appendTo="body"
        name="calculationCurrency"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectCurrency')"
        [options]="currencyOptions"
        [(ngModel)]="monthlySalaryAdjustment().calculation_currency"
      />
    </ui-form-field>
  </div>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <div>
      <p-checkbox
        name="includesIncomeTax"
        inputId="includesIncomeTax"
        [binary]="true"
        [(ngModel)]="monthlySalaryAdjustment()!.includes_income_tax"
      />
      <label class="ml-2" for="includesIncomeTax">{{
        t("includesIncomeTax")
      }}</label>
    </div>
    <div>
      <p-checkbox
        name="includesEmployeePension"
        inputId="includesEmployeePension"
        [binary]="true"
        [(ngModel)]="monthlySalaryAdjustment()!.includes_employee_pension"
      />
      <label class="ml-2" for="includesEmployeePension">{{
        t("includesEmployeePension")
      }}</label>
    </div>
  </div>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('startDate')">
      <p-datepicker
        appendTo="body"
        required
        name="startDate"
        dateFormat="yy-mm-dd"
        [maxDate]="(monthlySalaryAdjustment().end_date | dateType) || now"
        [showIcon]="true"
        [showOnFocus]="false"
        [(ngModel)]="monthlySalaryAdjustment().start_date"
    /></ui-form-field>
    <div class="w-full relative">
      <ui-form-field class="w-full" [label]="t('endDate')">
        <p-datepicker
          appendTo="body"
          name="endDate"
          dateFormat="yy-mm-dd"
          [showIcon]="true"
          [showOnFocus]="false"
          [minDate]="monthlySalaryAdjustment().start_date | dateType"
          [maxDate]="(monthlySalaryAdjustment().end_date | dateType)"
          [disabled]="currentMonthlyAdjustment()"
          [(ngModel)]="monthlySalaryAdjustment().end_date"
      /></ui-form-field>
      <div class="absolute -bottom-5 flex items-center gap-2">
        <p-checkbox
          name="currentMonthlyAdjustment"
          inputId="currentMonthlyAdjustment"
          [binary]="true"
          [ariaLabel]="t('currentMonthlyAdjustment')"
          [(ngModel)]="currentMonthlyAdjustment"
          (ngModelChange)="onCurrentMonthlyAdjustmentChange()"
        />
        <label for="currentMonthlyAdjustment">{{ t("current") }}</label>
      </div>
    </div>
  </div>
  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
