<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <div class="flex w-full sm:flex-nowrap flex-wrap items-center gap-5">
    <ui-form-field class="w-full" [label]="t('firstName')">
      <input
        required
        pInputText
        name="fistName"
        class="w-full"
        [(ngModel)]="employeeData().name"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('lastName')">
      <input
        required
        pInputText
        name="lastName"
        class="w-full"
        [(ngModel)]="employeeData().surname"
      />
    </ui-form-field>
  </div>
  <ui-form-field class="w-full" [label]="t('address')">
    <input
      required
      pInputText
      name="address"
      class="w-full"
      [(ngModel)]="employeeData().address"
    />
  </ui-form-field>
  <div class="flex w-full sm:flex-nowrap flex-wrap items-center gap-5">
    <ui-form-field class="w-full" [label]="t('birthDate')">
      <p-calendar
        required
        name="birthDate"
        dateFormat="yy-mm-dd"
        [(ngModel)]="employeeData().birth_date"
        [showIcon]="true"
        [showOnFocus]="false"
        inputId="buttondisplay"
    /></ui-form-field>

    <ui-form-field class="w-full" [label]="t('phoneNumber')">
      <p-inputNumber
        required
        prefix="+995 "
        name="phone"
        mode="decimal"
        placeholder="+995 999999999"
        [min]="0"
        [minlength]="9"
        [maxlength]="9"
        [useGrouping]="false"
        [(ngModel)]="employeeData().phone"
      />
    </ui-form-field>
  </div>
  <div class="flex w-full sm:flex-nowrap flex-wrap items-center gap-5">
    <ui-form-field class="w-full" [label]="t('taxResidency')">
      <input
        required
        pInputText
        name="taxResidency"
        class="w-full"
        [(ngModel)]="employeeData().residency"
      />
    </ui-form-field>

    <ui-form-field class="w-full" [label]="t('gender')">
      <p-dropdown
        name="gender"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectGender')"
        [options]="genderOptions()"
        [(ngModel)]="employeeData().gender"
      />
    </ui-form-field>
  </div>

  <div class="flex w-full sm:flex-nowrap flex-wrap items-center gap-5">
    <ui-form-field class="w-full" [label]="t('personalNumber')">
      <input
        required
        pInputText
        class="w-full"
        name="personal_number"
        [(ngModel)]="employeeData().id_number"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('position')">
      <input
        required
        pInputText
        name="position"
        class="w-full"
        [(ngModel)]="employeeData().position"
      />
    </ui-form-field>
  </div>
  <div class="flex w-full sm:flex-nowrap flex-wrap items-center gap-5 mb-5">
    <ui-form-field class="w-full" [label]="t('startDate')">
      <p-calendar
        required
        name="workStartDate"
        dateFormat="yy-mm-dd"
        [maxDate]="(employeeData().end_date | dateType) || now"
        [showIcon]="true"
        [showOnFocus]="false"
        [(ngModel)]="employeeData().start_date"
    /></ui-form-field>
    <div class="w-full relative">
      <ui-form-field class="w-full" [label]="t('endDate')">
        <p-calendar
          name="workEndDate"
          dateFormat="yy-mm-dd"
          [showIcon]="true"
          [showOnFocus]="false"
          [minDate]="employeeData().start_date | dateType"
          [maxDate]="(employeeData().end_date | dateType) || now"
          [disabled]="stillWorking()"
          [(ngModel)]="employeeData().end_date"
      /></ui-form-field>
      <div class="absolute -bottom-5">
        <p-checkbox
          name="stillWorking"
          [binary]="true"
          [label]="t('stillWorking')"
          [(ngModel)]="stillWorking"
          (ngModelChange)="onStillWorkingChange()"
        />
      </div>
    </div>
  </div>
  <div class="flex w-full sm:flex-nowrap flex-wrap items-center gap-5">
    <ui-form-field class="w-full" [label]="t('email')">
      <input
        email
        pInputText
        name="email"
        class="w-full"
        [(ngModel)]="employeeData().email"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('bankAccountNumber')">
      <input
        required
        pInputText
        minlength="22"
        name="iban"
        class="w-full"
        [(ngModel)]="employeeData().bank_account"
      />
    </ui-form-field>
  </div>
  <p-checkbox
    name="isInPension"
    [binary]="true"
    [label]="t('isInPension')"
    [(ngModel)]="employeeData().pension"
  />
  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
