<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('employee')">
      <p-select
        required
        appendTo="body"
        name="employee"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectEmployee')"
        [options]="employees()"
        [(ngModel)]="timeBasedSalaryAdjustment().employee_id"
      >
      </p-select>
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('timeBasedSalaryAdjustmentTypes')">
      <p-select
        required
        appendTo="body"
        name="type"
        optionLabel="name"
        optionValue="id"
        [placeholder]="t('selectType')"
        [options]="timeBasedSalaryAdjustmentTypes()"
        [(ngModel)]="timeBasedSalaryAdjustment().type"
      >
        <ng-template #footer>
          <div class="p-3">
            <p-button
              text
              fluid
              [label]="t('addNew')"
              severity="secondary"
              size="small"
              icon="pi pi-plus"
              (onClick)="onAddNewMonthlySalaryAdjustmentType()"
            />
          </div> </ng-template
      ></p-select>
    </ui-form-field>
  </div>

  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('day')">
      <input
        pInputText
        type="number"
        name="day"
        class="w-full"
        [(ngModel)]="timeBasedSalaryAdjustment()!.day"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('hour')">
      <input
        pInputText
        type="number"
        name="hour"
        class="w-full"
        [(ngModel)]="timeBasedSalaryAdjustment()!.hour"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('minute')">
      <input
        pInputText
        type="number"
        name="minute"
        class="w-full"
        [(ngModel)]="timeBasedSalaryAdjustment()!.minute"
      />
    </ui-form-field>
  </div>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('date')">
      <p-datepicker
        appendTo="body"
        required
        name="date"
        dateFormat="yy-mm-dd"
        [showIcon]="true"
        [showOnFocus]="false"
        [(ngModel)]="timeBasedSalaryAdjustment().date"
    /></ui-form-field>
  </div>

  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
