<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <ui-form-field class="w-full" [label]="t('employee')">
    <p-select
      required
      appendTo="body"
      name="employee"
      optionValue="id"
      [placeholder]="t('selectEmployee')"
      [options]="employees()"
      [(ngModel)]="oneTimeBonus().employee_id"
    >
      <ng-template pTemplate="selectedItem" let-employee>
        {{ employee.name }}
        {{ employee.surname }}
      </ng-template>

      <ng-template let-employee pTemplate="item">
        {{ employee.name }} {{ employee.surname }}
      </ng-template></p-select
    >
  </ui-form-field>

  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('amount')">
      <input
        required
        pInputText
        type="number"
        name="amount"
        class="w-full"
        [(ngModel)]="oneTimeBonus()!.amount"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('paymentCurrency')">
      <p-select
        required
        appendTo="body"
        name="paymentCurrency"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectCurrency')"
        [options]="currencyOptions()"
        [(ngModel)]="oneTimeBonus().payment_currency"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('calculationCurrency')">
      <p-select
        required
        appendTo="body"
        name="calculationCurrency"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectCurrency')"
        [options]="currencyOptions()"
        [(ngModel)]="oneTimeBonus().calculation_currency"
      />
    </ui-form-field>
  </div>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <div>
      <p-checkbox
        name="includesIncomeTax"
        inputId="includesIncomeTax"
        [binary]="true"
        [(ngModel)]="oneTimeBonus()!.includes_income_tax"
      />
      <label class="ml-2" for="includesIncomeTax">{{
        t("includesIncomeTax")
      }}</label>
    </div>
    <div>
      <p-checkbox
        name="includesEmployeePension"
        inputId="includesEmployeePension"
        [binary]="true"
        [(ngModel)]="oneTimeBonus()!.includes_employee_pension"
      />
      <label class="ml-2" for="includesEmployeePension">{{
        t("includesEmployeePension")
      }}</label>
    </div>
  </div>

  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('dateFrom')">
      <p-datepicker
        appendTo="body"
        required
        name="dateFrom"
        dateFormat="yy-mm-dd"
        [maxDate]="(oneTimeBonus().date_from | dateType) || now"
        [showIcon]="true"
        [showOnFocus]="false"
        [(ngModel)]="oneTimeBonus().date_from"
    /></ui-form-field>
    <div class="w-full relative">
      <ui-form-field class="w-full" [label]="t('dateTo')">
        <p-datepicker
          name="dateTo"
          dateFormat="yy-mm-dd"
          [showIcon]="true"
          [showOnFocus]="false"
          [minDate]="oneTimeBonus().date_from | dateType"
          [maxDate]="(oneTimeBonus().date_to | dateType) || now"
          [(ngModel)]="oneTimeBonus().date_to"
      /></ui-form-field>
    </div>
  </div>
  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
