<ng-container *transloco="let t">
  <ui-responsive-data-view
    [title]="t('incomeTaxExemption')"
    [data]="data()"
    [showAddButton]="true"
    [showDeleteButton]="true"
    (addButtonClicked)="onAddClick()"
    (rowClicked)="onRowClick($event)"
    (deleteClicked)="onDeleteClick($event)"
  >
    <ui-data-element name="name" valueField="name"></ui-data-element>

    <ui-data-element name="amount" valueField="amount"></ui-data-element>
    <ui-data-element name="percent" valueField="percent"></ui-data-element>

    <ui-data-element name="startDate">
      <ng-template uiTemplate let-row>
        <span>{{ row.start_date | date: "dd/MM/yyy" }}</span>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="endDate">
      <ng-template uiTemplate let-row>
        <span>{{ row.end_date | date: "dd/MM/yyy" }}</span>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="renewable">
      <ng-template uiTemplate let-row>
        @if (row.renewable) {
          <i class="pi pi-check" style="font-size: 1rem"></i>
        }
      </ng-template>
    </ui-data-element>
    <ui-data-element name="current">
      <ng-template uiTemplate let-row>
        @if (row.constant) {
          <i class="pi pi-check" style="font-size: 1rem"></i>
        }
      </ng-template>
    </ui-data-element>
    <ui-data-element
      name="balanceAmount"
      valueField="balance_amount"
    ></ui-data-element>
    <ui-data-element name="balanceDate">
      <ng-template uiTemplate let-row>
        <span>{{ row.balance_date | date: "dd/MM/yyy" }}</span>
      </ng-template>
    </ui-data-element>
  </ui-responsive-data-view>
</ng-container>
