<div class="w-full m-5 shadow-lg border p-10" *transloco="let t">
  <!-- <p class="text-3xl font-bold">მარიამ ხაჭვანი</p>
  <p class="text-sm mt-2">ფრონტ-ენდ დეველოპერი</p> -->
  <div class="w-full grid grid-cols-2 gap-x-10 items-center gap-y-5">
    <ui-preview-field [label]="t('firstName')">მარიამ</ui-preview-field>
    <ui-preview-field [label]="t('lastName')">ხაჭვანი</ui-preview-field>
    <ui-preview-field [label]="t('personalNumber')"
      >01011083907</ui-preview-field
    >
    <ui-preview-field [label]="t('dateOfBirth')">13/01/2000</ui-preview-field>
    <ui-preview-field [label]="t('phoneNumber')"
      >+995 514000524</ui-preview-field
    >
    <ui-preview-field [label]="t('iban')"
      >GE293842938402039420934u</ui-preview-field
    >
    <ui-preview-field [label]="t('residency')">საქართველო</ui-preview-field>
    <ui-preview-field [label]="t('address')">ს.ჩიქოვანის 4ა</ui-preview-field>
    <ui-preview-field [label]="t('email')"
      >marikhachvani13.com</ui-preview-field
    >
    <ui-preview-field [label]="t('workStartDate')">13/12/2022</ui-preview-field>
    <ui-preview-field [label]="t('salary')"
      ><span class="">NET</span> 2000 ₾</ui-preview-field
    >
    <ui-preview-field [label]="t('typeOfPayment')"
      >ფიქსირებული</ui-preview-field
    >
    <ui-preview-field [label]="t('includedInPension')"
      >ჩართულია</ui-preview-field
    >
    <ui-preview-field [label]="t('damatebebi')"
      >დამატებები არც კი ვიცი რაარის</ui-preview-field
    >
    <ui-preview-field [label]="t('daqviTebi')">ჩართულია</ui-preview-field>
  </div>
</div>
