@if (employeeId && employeeGeneralInformation()) {
  <div *transloco="let t" class="m-5 flex flex-col gap-8 pb-16">
    <h1 class="">
      <span class="text-gray-400 cursor-pointer" (click)="navigateToEmployee()"
        >{{ t("employees") + " /" }} </span
      >{{
        employeeGeneralInformation()!.name +
          " " +
          employeeGeneralInformation()!.surname
      }}
    </h1>

    <employee-general-information
      [employeeData]="employeeGeneralInformation()!"
      (editClicked)="onEditClick()"
    ></employee-general-information>
    <employee-salary-information
      [employeeId]="employeeId"
    ></employee-salary-information>
    <employee-monthly-adjustment-information
      [employeeId]="employeeId"
    ></employee-monthly-adjustment-information>
    <employee-exemption-information
      [employeeId]="employeeId"
    ></employee-exemption-information>
    <employee-incentive-bonus-information
      [employeeId]="employeeId"
    ></employee-incentive-bonus-information>
  </div>
}
