<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <ui-form-field class="w-full" [label]="t('type')">
    <p-select
      required
      appendTo="body"
      name="type"
      optionLabel="label"
      optionValue="id"
      [placeholder]="t('selectType')"
      [options]="timeBasedSalaryAdjustmentTypeOptions"
      [(ngModel)]="timeBasedSalaryAdjustmentType().type"
    />
  </ui-form-field>
  <ui-form-field class="w-full" [label]="t('name')">
    <input
      required
      pInputText
      name="name"
      class="w-full"
      [(ngModel)]="timeBasedSalaryAdjustmentType().name"
    />
  </ui-form-field>

  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('percent')">
      <p-inputNumber
        required
        type="number"
        mode="decimal"
        name="percent"
        [inputId]="t('percent')"
        [min]="0"
        [suffix]="' ' + '%'"
        [(ngModel)]="timeBasedSalaryAdjustmentType()!.percent"
      />
    </ui-form-field>
  </div>
  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
