<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <ui-form-field class="w-full" [label]="t('type')">
    <input
      required
      pInputText
      name="type"
      class="w-full"
      [(ngModel)]="exemption().type"
    />
  </ui-form-field>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('limitType')">
      <p-select
        required
        name="limitType"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectLimitType')"
        appendTo="body"
        [options]="limitTypeOptions()"
        [(ngModel)]="exemption().limit_type"
        (ngModelChange)="onLimitTypeChange($event)"
      />
    </ui-form-field>
    @if (
      exemption().limit_type === limitTypeEnum.AMOUNT_BASED ||
      exemption().limit_type === limitTypeEnum.TIME_BASED
    ) {
      <ui-form-field class="w-full" [label]="t('startDate')">
        <p-datepicker
          appendTo="body"
          required
          name="startDate"
          dateFormat="yy-mm-dd"
          appendTo="body"
          [showIcon]="true"
          [showOnFocus]="false"
          [maxDate]="(exemption().end_date | dateType) || now"
          [(ngModel)]="exemption().start_date"
      /></ui-form-field>
    }
    @if (exemption().limit_type === limitTypeEnum.AMOUNT_BASED) {
      <div class="flex sm:flex-nowrap flex-wrap items-center gap-4 w-full">
        <ui-form-field class="w-full" [label]="t('amount') + ' GEL'">
          <input
            required
            pInputText
            type="number"
            name="amount"
            class="w-full"
            [(ngModel)]="exemption()!.amount"
          />
        </ui-form-field>
      </div>
    }
    @if (exemption().limit_type === limitTypeEnum.TIME_BASED) {
      <ui-form-field class="w-full" [label]="t('endDate')">
        <p-datepicker
          appendTo="body"
          name="endDate"
          dateFormat="yy-mm-dd"
          [showIcon]="true"
          [showOnFocus]="false"
          [minDate]="exemption().start_date | dateType"
          [maxDate]="(exemption().end_date | dateType) || now"
          [(ngModel)]="exemption().end_date"
      /></ui-form-field>
    }
  </div>

  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
