<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <div class="flex flex-col gap-4">
    <ui-form-field class="w-full" [label]="t('salaryType')">
      <p-dropdown
        required
        name="salaryType"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('salaryType')"
        [options]="SalaryTypeOptions()"
        [(ngModel)]="salary()!.type"
        (ngModelChange)="onSalaryTypeChange()"
      />
    </ui-form-field>

    <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
      @if (!!salary().type && salary().type !== salaryTypeEnum.Hourly) {
        <ui-form-field class="w-full" [label]="t('dailyWorkingHours')">
          <p-inputNumber
            required
            type="number"
            mode="decimal"
            name="dailyWorkingHours"
            [inputId]="t('dailyWorkingHours')"
            [min]="0"
            [suffix]="' ' + t('hr')"
            [(ngModel)]="salary()!.daily_working_hours"
          />
        </ui-form-field>
      }
      @if (salary().type === salaryTypeEnum.Shifts) {
        <ui-form-field class="w-full" [label]="t('monthlyWorkingDays')">
          <p-inputNumber
            required
            type="number"
            mode="decimal"
            name="monthlyWorkingDays"
            [inputId]="t('monthlyWorkingDays')"
            [min]="0"
            [(ngModel)]="salary()!.monthly_working_days"
          />
        </ui-form-field>
      }
    </div>
    @if (salary().type === salaryTypeEnum.Fixed) {
      <ui-form-field
        class="w-full"
        [label]="t('dailySalaryCalculationBaseOptions')"
      >
        <p-dropdown
          required
          name="dailySalaryCalculationBaseOptions"
          optionLabel="label"
          optionValue="id"
          [placeholder]="t('selectDailySalaryCalculationBaseOptions')"
          [options]="dailySalaryCalculationBaseOptions()"
          [(ngModel)]="salary()!.daily_salary_calculation_base"
          (ngModelChange)="onDailySalaryCalculationBaseChange()"
        />
      </ui-form-field>

      @if (
        salary().daily_salary_calculation_base ===
        dailySalaryCalculationBaseEnum.WORK_DAYS
      ) {
        <ui-form-field class="w-full" [label]="t('nonWorkingDays')">
          <p-multiSelect
            required
            name="nonWorkingDays"
            appendTo="body"
            optionLabel="label"
            optionValue="id"
            [showHeader]="false"
            [placeholder]="t('selectNonWorkingDays')"
            [options]="nonWorkingDaysOptions()"
            [(ngModel)]="salary()!.non_working_days"
            (ngModelChange)="onNonWorkingDaysChange()"
          />
        </ui-form-field>
      }

      @if (
        salary().non_working_days?.includes(nonWorkingDaysEnum.CUSTOM_DATES)
      ) {
        <ui-form-field class="w-full" [label]="t('customNonWorkingDays')">
          <p-calendar
            required
            appendTo="body"
            name="customNonWorkingDays"
            dateFormat="yy-mm-dd"
            selectionMode="multiple"
            [showIcon]="true"
            [showOnFocus]="false"
            [inline]="true"
            [(ngModel)]="salary().non_working_custom_dates"
            (ngModelChange)="onCustomNonWorkingDaysChange($event)"
        /></ui-form-field>
      }
    }
    <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
      <ui-form-field class="w-full" [label]="t('amount')">
        <input
          required
          pInputText
          type="number"
          name="amount"
          class="w-full"
          [(ngModel)]="salary()!.amount"
        />
      </ui-form-field>
      <ui-form-field class="w-full" [label]="t('calculationCurrency')">
        <p-dropdown
          required
          name="calculationCurrency"
          optionLabel="label"
          optionValue="id"
          [placeholder]="t('selectCurrency')"
          [options]="currencyOptions()"
          [(ngModel)]="salary().calculation_currency"
        />
      </ui-form-field>
      <ui-form-field class="w-full" [label]="t('paymentCurrency')">
        <p-dropdown
          required
          name="paymentCurrency"
          optionLabel="label"
          optionValue="id"
          [placeholder]="t('selectCurrency')"
          [options]="currencyOptions()"
          [(ngModel)]="salary().payment_currency"
        />
      </ui-form-field>
    </div>

    <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
      <p-checkbox
        name="includesIncomeTax"
        [binary]="true"
        [label]="t('includesIncomeTax')"
        [(ngModel)]="salary()!.includes_income_tax"
      />
      <p-checkbox
        name="includesEmployeePension"
        [binary]="true"
        [label]="t('includesEmployeePension')"
        [(ngModel)]="salary()!.includes_employee_pension"
      />
    </div>
    <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
      <ui-form-field class="w-full" [label]="t('startDate')">
        <p-calendar
          required
          name="startDate"
          dateFormat="yy-mm-dd"
          [maxDate]="(salary().end_date | dateType) || now"
          [showIcon]="true"
          [showOnFocus]="false"
          [(ngModel)]="salary().start_date"
      /></ui-form-field>
      <div class="w-full relative">
        <ui-form-field class="w-full" [label]="t('endDate')">
          <p-calendar
            name="endDate"
            dateFormat="yy-mm-dd"
            [showIcon]="true"
            [showOnFocus]="false"
            [minDate]="salary().start_date | dateType"
            [maxDate]="(salary().end_date | dateType) || now"
            [disabled]="currentSalary()"
            [(ngModel)]="salary().end_date"
        /></ui-form-field>
        <div class="absolute -bottom-5">
          <p-checkbox
            name="currentSalary"
            [binary]="true"
            [label]="t('currentSalary')"
            [(ngModel)]="currentSalary"
            (ngModelChange)="onCurrentSalaryChange()"
          />
        </div>
      </div>
    </div>
  </div>
  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
