<div class="w-full h-full flex flex-col justify-start space-y-3">
  @for(navigationItem of navigation(); track navigationItem.title){
  <button
    (click)="navigationClicked.emit()"
    class="text-left flex group items-center gap-x-2 text-primeng-surface-700 hover:text-primeng-surface-900 font-primeng font-medium px-2 py-1 rounded-primeng transition-all duration-300"
    [routerLink]="['/', navigationItem.path]"
    routerLinkActive="bg-primeng-surface-100 "
  >
    {{ navigationItem.title }}
  </button>
  }
</div>
