<ng-container *transloco="let t">
  <ui-responsive-data-view
    [title]="t('monthlySalaryAdjustments')"
    [data]="data()"
    [showAddButton]="true"
    [showDeleteButton]="true"
    (addButtonClicked)="onAddClick()"
    (rowClicked)="onRowClick($event)"
    (deleteClicked)="onDeleteClick($event)"
  >
    <ui-data-element name="name" valueField="name"></ui-data-element>
    <ui-data-element name="type" valueField="type">
      <ng-template uiTemplate let-row>
        <span>
          {{
            row.type === monthlySalaryAdjustmentTypeEnum.BENEFIT
              ? t("benefit")
              : row.type === monthlySalaryAdjustmentTypeEnum.DEDUCTION
                ? t("deduction")
                : ""
          }}</span
        >
      </ng-template>
    </ui-data-element>
    <ui-data-element name="amount" valueField="amount"></ui-data-element>

    <ui-data-element
      name="currency"
      valueField="calculation_currency"
    ></ui-data-element>
    <ui-data-element name="startDate">
      <ng-template uiTemplate let-row>
        <span>{{ row.start_date | date: "dd/MM/yyy" }}</span>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="endDate">
      <ng-template uiTemplate let-row>
        <span>{{ row.end_date | date: "dd/MM/yyy" }}</span>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="includesEmployeePension">
      <ng-template uiTemplate let-row>
        @if (row.includes_employee_pension) {
          <i class="pi pi-check" style="font-size: 1rem"></i>
        }
      </ng-template>
    </ui-data-element>
    <ui-data-element name="includesIncomeTax">
      <ng-template uiTemplate let-row>
        @if (row.includes_income_tax) {
          <i class="pi pi-check" style="font-size: 1rem"></i>
        }
      </ng-template>
    </ui-data-element>
  </ui-responsive-data-view>
</ng-container>
