<form
  #form="ngForm"
  class="flex flex-col gap-4"
  autocomplete="off"
  *transloco="let t"
>
  <ui-form-field class="w-full" [label]="t('type')">
    <input
      required
      pInputText
      name="type"
      class="w-full"
      [(ngModel)]="deduction().type"
    />
  </ui-form-field>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('amount')">
      <input
        required
        pInputText
        type="number"
        name="amount"
        class="w-full"
        [(ngModel)]="deduction()!.amount"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('paymentCurrency')">
      <p-select
        required
        appendTo="body"
        name="paymentCurrency"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectCurrency')"
        [options]="currencyOptions()"
        [(ngModel)]="deduction().payment_currency"
      />
    </ui-form-field>
    <ui-form-field class="w-full" [label]="t('calculationCurrency')">
      <p-select
        required
        appendTo="body"
        name="calculationCurrency"
        optionLabel="label"
        optionValue="id"
        [placeholder]="t('selectCurrency')"
        [options]="currencyOptions()"
        [(ngModel)]="deduction().calculation_currency"
      />
    </ui-form-field>
  </div>

  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <div>
      <p-checkbox
        name="includesIncomeTax"
        inputId="includesIncomeTax"
        [binary]="true"
        [(ngModel)]="deduction()!.includes_income_tax"
      />
      <label class="ml-2" for="includesIncomeTax">{{
        t("includesIncomeTax")
      }}</label>
    </div>
    <div>
      <p-checkbox
        name="includesEmployeePension"
        inputId="includesEmployeePension"
        [binary]="true"
        [(ngModel)]="deduction()!.includes_employee_pension"
      />
      <label class="ml-2" for="includesEmployeePension">{{
        t("includesEmployeePension")
      }}</label>
    </div>
  </div>
  <div class="flex sm:flex-nowrap flex-wrap items-center gap-4">
    <ui-form-field class="w-full" [label]="t('startDate')">
      <p-datepicker
        appendTo="body"
        required
        name="startDate"
        dateFormat="yy-mm-dd"
        [maxDate]="(deduction().end_date | dateType) || now"
        [showIcon]="true"
        [showOnFocus]="false"
        [(ngModel)]="deduction().start_date"
    /></ui-form-field>
    <div class="w-full relative">
      <ui-form-field class="w-full" [label]="t('endDate')">
        <p-datepicker
          appendTo="body"
          name="endDate"
          dateFormat="yy-mm-dd"
          [showIcon]="true"
          [showOnFocus]="false"
          [minDate]="deduction().start_date | dateType"
          [maxDate]="(deduction().end_date | dateType) || now"
          [disabled]="currentDeduction()"
          [(ngModel)]="deduction().end_date"
      /></ui-form-field>
      <div class="absolute -bottom-5 flex items-center gap-2">
        <p-checkbox
          name="currentDeduction"
          inputId="currentDeduction"
          [binary]="true"
          [ariaLabel]="t('currentDeduction')"
          [(ngModel)]="currentDeduction"
          (ngModelChange)="onCurrentDeductionChange()"
        />
        <label for="currentDeduction">{{ t("currentDeduction") }}</label>
      </div>
    </div>
  </div>
  <ui-dialog-actions
    [showCancel]="true"
    [disabled]="!!form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
